{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <div class="login-form">
    <p>An email has been sent. It contains a link you must click to reset your password.</p>
    <p><em>Note: You can only request a new password once within <strong>2 hours</strong>.</em></p>
    <p>If you don't get an email check your spam folder or try again.</p>
  </div>
{% endblock %}
